.Input_notActive {
    animation: easeInOut_toLeft .55s ease-in-out;
}
.Title_change {
    animation: easeInOut_toBottom .6s ease-in-out;
}
.Title_afterChange {
    animation: easeInOut_fromTop .6s ease-in-out;
}
.Error-Message {
    color: #E15554;
    font-size: 16px;
    margin-top: 10px;
    align-self: flex-end;
}

