// Background FadeIN

.Popup_FadeIn {
    animation: .3s Popup_FadeIn ease-in-out;
}
@keyframes Popup_FadeIn {
    0% {
        background: transparent;
    }
    100% {
        background: rgba($color: #000, $alpha: .2);
    }
}
// Main FadeIN
.PopupMain_FadeIn {
    animation: 0.3s PopupMain_FadeIn ease-in-out;
}
@keyframes PopupMain_FadeIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

// Animation to add
//Main Green Animation after click save or send
// .PopupMain_positive {
//     animation: 1s PopupMain_positive ease-in-out;
// }
// @keyframes PopupMain_positive {
//     0% {
//         background: rgba($color: white, $alpha: 1.0);
//     }
//     50%{
//         background: rgba($color: blue, $alpha: 1.0);
//     }
//     100% {
//         background: rgba($color: $green, $alpha: 1.0);
//     }
// }

// Background FadeOUT

.Popup_FadeOut {
    animation: 0.35s Popup_FadeOut ease-in-out;
}
@keyframes Popup_FadeOut {
    0% {
        background: rgba($color: #000, $alpha: .2);
    }
    100% {
        background: transparent;
    }
}
// Main FadeOUT
.PopupMain_FadeOut {
    animation: 0.35s PopupMain_FadeOut alternate;
}
@keyframes PopupMain_FadeOut {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0) translateY(-200vh);
    }
}