.BtnRounded {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 35px;
    border-radius: 20px;
    box-shadow: 0px 4px 10px 1px rgba($color: $black, $alpha: .2);
    font-size: 14px;
    color: $black;
    cursor: pointer;
}