.Input {
    box-sizing: border-box;
    width: 100%;
    min-width: 250px;
    height: 55px;
    padding: 0 25px;
    border-radius: 25px;
    // border: 1px solid rgba($color: $black, $alpha: 1);
    border: none;
    font-size: 9px;
    color: rgba($color: $black, $alpha: 1);
    margin-top: 15px;
    outline: none;
    box-shadow: 0px 4px 10px 1px rgba($color: $black, $alpha: .2);
    animation: easeInOut_fromRight 1s ease-in-out;
    font-size: 14px;
    background: white;
    
    
    &-Button_black {
        background: $black;
        color: $white;
        box-shadow: 0px 4px 10px 1px rgba($color: $black, $alpha: .2);
        cursor: pointer;
    }
    &-Button_green {
        background: $green;
        color: $white;
        box-shadow: 0px 4px 10px 1px rgba($color: $black, $alpha: .2);
        cursor: pointer;
        border: 1px solid $green;
    }
    &-Button_white {
        background: $white;
        color: $black;
        box-shadow: 0px 4px 10px 1px rgba($color: $black, $alpha: .2);
        border: none;
    }
    &-Button-Auth {
        margin-top: 15px;
        animation: none;
    }
    &:focus {
        outline: none;
    } 
}

