.Accounts {
    width: 100vw;
    height: calc(100vh - 80px);
    padding: 20px 10vw 0 10vw;
    &-Cell {
        margin: 0 0 20px 0;
        width: 100%;
        height: auto;
        padding: 40px 20px;
        box-shadow: 0px 4px 10px 1px rgba($color: $black, $alpha: .2);
        border-radius: 40px;
        cursor: pointer;
        color: $black;
    }
    &-Create {
        font-size: 20px;
        width: 100%;
        height: auto;
        padding: 40px 20px;
        box-shadow: 0px 4px 10px 1px rgba($color: $green, $alpha: .2);
        border-radius: 40px;
        text-align: center;
        font-weight: 400;
        cursor: pointer;
        color: $black;
        border: 1px solid rgba($color: $green, $alpha: .1);
    }
}