

.NavAuth {
    height: 70px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    &_Logo {
        animation: NavBarAuth_easeInOut 1s ease-in-out;
        margin-left: 20px;
        align-self: center;
        justify-self: flex-start;
    }
    &_BtnRounded {
        animation: NavBarAuth_easeInOut 1.2s ease-in-out;
        margin-right: 20px;
        align-self: center;
        justify-self: flex-end;
    }
}