body {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.App {
    width: 100vw;
    height: 100vh;
}
a {
    text-decoration: none !important;
}
a:focus {
    text-decoration: none !important;
}
a:visited {
    text-decoration: none !important;
}
